* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
    color:#e3dddd;
}

main{
    position: relative;
}
.form-join{
    width: 100%;
    background-color: #dfeaee;
    padding: 15px;
    display: flex ;
    align-items: center;
    justify-content: space-around;
    

}


.form-join input{
    background-color: #647ea1;
    border: none;
    outline: none;
    color: #fff;
    width: 300px;
    height: 10px;
    font-size: 1.3rem;
    padding: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.form-join input::placeholder {
color: #fff;
text-align: center;
}


button {
    outline: none;
    border: none;
    background-color: #053058;
    color: #fff;
    width: 150px ;
    height: 55px ;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
    

}
button:hover{
    background-color: #285783;
}


.chat-display {
    list-style-type: none;
    border-radius: 10px;
    margin: 1rem auto;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow: auto;
    flex-grow: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.post {
    border-radius: 10px;
    margin: .8rem auto;
    width: 20rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
}



.room{
    position:fixed;
    left:10rem;
    bottom:2rem;
    padding: 20px;
    color: #333;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.post--left {
    
margin-left: 3rem;
background-color: #b8cadc;
border-radius: 20px;
color:white;
}


.post--right {
margin-right: 4rem;
background-color: #b8cadc;
border-radius: 20px;


}

.post__header {
    padding: .5rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}



.post__header--name {
    font-weight: bold;
    color: #000;
}

.post__header--time {
    font-size: .8rem;
    color: #000;
}
/* .post__header .post__header--reply{

} */
.post__text {
    margin-top: 5px;
    background-color: #123159;
    outline: none;
    border: none;
    border-radius:30px;
    color: #fff;
    padding: .8rem;
    text-align: center;
    -webkit-border-radius:15px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}


.user-list,
.room-list,
.activity {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
    color: #000;
}

.activity {
    font-style: italic;
}

.form-msg{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: fixed;
        bottom: 2rem;
        
        right: 15rem;
}
.form-msg input{
    width: 700px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
    outline: none;
    padding: 30px;
    color: #000;
    background-color: #e6edf0;


}
